// Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,700|Dosis:300,500');

$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Dosis', sans-serif;

$light: 300;
$regular: 300;
$bold: 500;
$bolder: 700;

// Colors
$colors: (primary: #009999,
accent: #663399,
white: #fafafa,
black: #212121);

@function color($color-name) {
    @return map-get($colors, $color-name)
};

// Mixins
@mixin shadow {
    box-shadow: 0px 30px 80px -15px rgba(0, 0, 0, 0.75);
}

@mixin ease {
    transition: all 0.3s ease-in-out;
}

// Common elements
html,
body {
    background-color: #D5DFEA;
    color: color(black);
    font-family: $primary-font;
    font-weight: $regular;
}

.container {
    margin: 0 auto;
    padding: 3rem 2rem;
    width: 100%;
    height: 100%;
}

// Media Query breakpoints
$mobile-screen: 426px;
$tablet-screen: 768px;
$desktop-screen: 1024px;

$screen: "only screen";
$mobile: "only screen and (max-width:#{$mobile-screen})";
$tablet: "only screen and (min-width:#{$mobile-screen}) and (max-width: #{$tablet-screen})";
$desktop: "only screen and (min-width:#{$tablet-screen})";