// Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Colors
$colors: (
    primary: #009999,
    accent:  #663399,
    white:   #fafafa,
    black:   #212121
);

@function color($color-name) {
    @return map-get($colors, $color-name)
};


// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,700|Dosis:300,500');

$primary-font:   'Montserrat', sans-serif;
$secondary-font: 'Dosis', sans-serif;

$light:   300;
$regular: 300;
$bold:    500;
$bolder:  700;

// Mixins
@mixin shadow {
    box-shadow: 0px 30px 80px -15px rgba(0,0,0,0.75);
} 

@mixin ease {
    transition: all 0.3s ease-in-out;
}