// Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Colors
$custom-white:    #fafafa;
$custom-black:    #212121;

$primary-color:   #009999;
$secondary-color: #663399;

// Fonts
$primary-font:   'Montserrat', sans-serif;
$secondary-font: 'Raleway', sans-serif;